/*search box css start here*/
body {
  background-color: #158CBA;
  padding-top: 50px;
}
.search-sec{
  padding: 2rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -114px;
      background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px){
  .search-sec{
      background: #1A4668;
  }
}

/*Main Page Overlay*/
#maintitle { 
  color:#fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 90px;
  position:absolute;
  z-index:12;
  margin-top:10%;
  left:0;
  width:100%;
  text-align:center;
}

#mainblurb { 
  color:#fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position:absolute;
  z-index:12;
  margin-top:18%;
  left:0;
  width:100%;
  text-align:center;
}

.nav-link:hover {
  color: white;
}

.nav-item {
  margin-left: 5%;
}

/*Carousel Styling*/
.carousel-inner{
  width:100%;
  max-height: 600px;
}
